<app-section>
  <app-container>
    <app-form-title title="Create your own TODO list :)"></app-form-title>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="formWrap">
      <app-custom-input>
        <input
          type="text"
          formControlName="firstName"
          placeholder="First Name"
        />
        <p
          *ngIf="f['firstName'].touched && f['firstName'].errors"
          class="errorText"
        >
          First name must be at least 3 characters
        </p>
      </app-custom-input>

      <app-custom-input>
        <input type="text" formControlName="lastName" placeholder="Last Name" />
        <p
          *ngIf="f['lastName'].touched && f['lastName'].errors"
          class="errorText"
        >
          Last name must be at least 3 characters
        </p>
      </app-custom-input>

      <app-custom-input>
        <input type="text" formControlName="userName" placeholder="User Name" />
        <p
          *ngIf="f['userName'].touched && f['userName'].errors"
          class="errorText"
        >
          User name must be at least 3 characters
        </p>
      </app-custom-input>

      <app-custom-input>
        <input type="email" formControlName="email" placeholder="Email" />
        <p *ngIf="f['email'].touched && f['email'].errors" class="errorText">
          Valid email required
        </p>
      </app-custom-input>

      <app-custom-input>
        <input
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          placeholder="Password"
        />
        <app-icon
          [type]="showPassword ? 'text' : 'password'"
          (click)="togglePasswordVisibility()"
        ></app-icon>
        <p
          *ngIf="f['password'].touched && f['password'].errors"
          class="errorText"
        >
          Password must include uppercase, lowercase, number, special character
          and be at least 8 characters.
        </p>
      </app-custom-input>

      <app-custom-input>
        <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          formControlName="confirmPassword"
          placeholder="Confirm Password"
        />
        <app-icon
          [type]="showConfirmPassword ? 'text' : 'password'"
          (click)="toggleConfirmPasswordVisibility()"
        ></app-icon>
        <p
          *ngIf="f['confirmPassword'].touched && f['confirmPassword'].errors"
          class="errorText"
        >
          Passwords must match
        </p>
        <p *ngIf="registerForm.errors?.['passwordMismatch']" class="errorText">
          Passwords do not match
        </p>
      </app-custom-input>

      <app-submit-btn title="Register" type="submit"></app-submit-btn>
    </form>

    <app-link-text>
      Already have an account?
      <a routerLink="/login">Log in</a>
    </app-link-text>
  </app-container>
</app-section>
